* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main-visual{
  width: 960px;
  padding: 50px 0;
}

.main-visual-list p{
  line-height: 40px;
  padding-left: 20px;
}

.main-visual-list p:nth-child(odd){
  background-color: #c9c9c9;
  line-height: 40px;
  padding-left: 20px;
}

.main{
  padding-bottom: 50px;
}

.main-contents{
  width: 960px;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
}

.contents-box {
  height: 200px;
  width: 30%;
  margin-top: 40px;
  margin-right: 5%;
  background-color: yellow;
}

.contents-box:nth-child(1){
  background-color: orange;
}

.contents-box:nth-child(3){
  margin-right: 0;
}

.contents-box:nth-child(5){
  background-color: orange;
}

.contents-box:nth-child(6){
  margin-right: 0;
}

.contents-box:nth-child(7){
  margin-bottom: 0;
}

.contents-box:nth-child(8){
  padding-bottom: 0;
}

.contents-box:nth-child(9){
  margin-right: 0;
  margin-bottom: 0;
  background-color: orange;
}
